<strong>Olá, {{ user }}</strong>
<p>Detalhes da sua matrícula:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Fim do plano: </strong> {{ end_date }} <br />
  <strong>Preço total: </strong> R${{ price }} <br />
</p>
